extends layout

block mainContent
    
 .welcomeBlurb 
    p Welocme to colonize. Start with next to nothing and build a colony by gathering resources and farming food.
      | Be wary though, natural can be cruel and starvation can lead to cannabalism and disease.  
    p ** Some of the events in this game are historically accurate to the trials underwent by settlers of Jamestown -- The first of the 13 original colonies.

block gameContent
    #game
    

block pleaseLogin
     h3.pleaseLogin Register or Login to play