extends layout

block mainContent
    
 .welcomeBlurb 
    p Welocme to colonize. Start with next to nothing and build a colony by gathering resources and building houses.
      
block gameContent
    #game
    

block pleaseLogin
     h3.pleaseLogin <a href='/register'>Register</a> or <a href='/'>Login</a> to play
     