doctype
html
    head
        title Colonize
        link(href='../styles/layout.css', rel='stylesheet')
        link(href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet")
        link(href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet")
        script(type='text/javascript' src='../scripts/canvas.js')
        script(type='text/javascript' src='../scripts/main.js')
        script(src='https://code.createjs.com/createjs-2014.12.12.min.js')
    body
        
        .logo
            //place logo here
        nav.menu-bar
            a#current(href='/home') Home
            if user
                a(href='/users') Users
                a(href='/logout') Logout
                h2 Hello #{user}
            else
                a(href='/register') Register
                a(href='/') Login
                
                
        block mainContent
        if user
            block gameContent
        else
            block pleaseLogin 
        