doctype
html
    head
        title Colonize
        link(href='../styles/layout.css', rel='stylesheet')
    body
        nav#menu-bar
            li#current Home
            li Users
            li Login               
            li Logout
                
        block mainContent